<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="bg-black text-white flex h-30 ">
			<a href="/pene" class="m-4">Pene</a>
			<a href="/" class="m-4">index</a>
			<a class="m-4">aefwadffd</a>
			<a class="m-4">aefwadffd</a>
		</div>
		<slot/>
	</body>
</html>

