---
import { Icon } from 'astro-icon/components'
const { kaka = false } =Astro.props;
const {elink1} = Astro.props;
const {elink2} = Astro.props;

---
<div class="rounded-md bg-green-500 text-black flex w-24 ml-[50%]"
class:list={{"bg-slate-800 text-white" : kaka}}
>
    <slot name="firstIcon">
    </slot>
    <slot name="text">
        <a>Log In</a>
    </slot>
    <slot name="secondIcon">
    </slot>
</div>