---
import Productos from "../../components/Productos.astro";
import Boton from "../../components/Boton.astro";
import Layout from "../../layouts/Layout.astro";
const {img1 = "src/components/img/Dreadnoughtus.png"} = Astro.props;
const {img2 = "src/components/img/AsaExtintion.png" } =Astro.props;
const {icono1 = "mdi:account-box" }=Astro.props;
const {icono2 = "mdi:account-box" }=Astro.props;

---

<Layout>
    <div class="h-5 bg-red-600 text-black font-bold">
        <a>Vaina loca</a>
        
    </div>
    <div>
        <Productos link={img1}/>
        <Productos secundario link={img1}/>
        <Productos link={img2}>
            <span slot="tituloDerecha">
                <a>Chi cheñol</a>
            </span>
            <span slot="descripcion">
                <a>Que rico</a>
            </span>
        </Productos>
        <a href="/noticias/rover" class="mx-[50%]">drgsfgg</a>
        
    </div>
   
    <Boton kaka/> 

</Layout>